.custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 255);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #c4c9cc;
}
